<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.xxxx.lidltable.ui.commands.save"
            name="Save">
      </command>
      <command
            id="org.xxxx.lidltable.ui.commands.changeView"
            name="Change View">
      </command>
      <command
            id="org.xxxx.lidltable.ui.commands.createMenu"
            name="Create Menu">
      </command>
      <command
            id="org.xxxx.lidltable.ui.commands.createDatatypeTable"
            name="Create Datatype Table">
      </command>
      <command
            id="org.xxxx.lidltable.ui.commands.createInterfaceTable"
            name="Create Interface Table">
      </command>
      <command
            id="org.xxxx.lidltable.ui.commands.createInteractionTable"
            name="Create Interaction Table">
      </command>
      <command
            id="org.xxxx.lidltable.ui.commands.generateCode"
            name="Code Generation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ui.internal.handlers.SaveHandler"
            commandId="org.xxxx.lidltable.ui.commands.save">
      </handler>
      <handler
            class="org.xxxx.lidltable.ui.handlers.ChangeViewHandler"
            commandId="org.xxxx.lidltable.ui.commands.changeView">
      </handler>
      <handler
            class="org.xxxx.lidltable.ui.handlers.CreateMenuHandler"
            commandId="org.xxxx.lidltable.ui.commands.createMenu">
      </handler>
      <handler
            class="org.xxxx.lidltable.ui.handlers.GenerateCodeHandler"
            commandId="org.xxxx.lidltable.ui.commands.generateCode">
      </handler>
      <handler
            class="org.xxxx.lidltable.ui.handlers.CreateDatatypeTableHandler"
            commandId="org.xxxx.lidltable.ui.commands.createDatatypeTable">
      </handler>
      <handler
            class="org.xxxx.lidltable.ui.handlers.CreateInterfaceTableHandler"
            commandId="org.xxxx.lidltable.ui.commands.createInterfaceTable">
      </handler>
      <handler
            class="org.xxxx.lidltable.ui.handlers.CreateInteractionTableHandler"
            commandId="org.xxxx.lidltable.ui.commands.createInteractionTable">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.xxxx.lidltable.ui.menus.toolbar"
               label="LIDL table definition view toolbar">
            <command
                  commandId="org.xxxx.lidltable.ui.commands.save"
                  label="Save"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="org.xxxx.lidltable.ui.tester.atLidltablePerspective">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.xxxx.lidltable.ui.commands.changeView"
                  label="Back to Start Menu"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="org.xxxx.lidltable.ui.tester.atLidltablePerspective">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.xxxx.lidltable.ui.commands.createMenu"
                  label="New"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="org.xxxx.lidltable.ui.tester.atLidltablePerspective">
                  </test>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.xxxx.lidltable.ui.commands.createMenu">
         <command
               commandId="org.xxxx.lidltable.ui.commands.createDatatypeTable"
               label="Data type definition table"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="org.xxxx.lidltable.ui.tester.atLidltablePerspective">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="org.xxxx.lidltable.ui.commands.createInterfaceTable"
               label="Interface definition table"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="org.xxxx.lidltable.ui.tester.atLidltablePerspective">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="org.xxxx.lidltable.ui.commands.createInteractionTable"
               label="Interaction definition table"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="org.xxxx.lidltable.ui.tester.atLidltablePerspective">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.xxxx.lidltable.ui.perspective.LidltablePerspectiveFactory"
            id="org.xxxx.lidltable.ui.perspective"
            name="LIDL Table Market">
         <description>
            配置LIDL表格定义视图
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.xxxx.lidltable.ui.views.navigator.LidltableNavigator"
            id="org.xxxx.lidltable.ui.views.navigator"
            name="Table Explorer"
            restorable="true">
      </view>
      <view
            class="org.xxxx.lidltable.ui.views.LidltablePropertyView"
            id="org.xxxx.lidltable.ui.views.property"
            name="Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.xxxx.lidltable.ui.views.navigator">
         <popupMenu
               id="org.xxxx.lidltable.ui.views.navigator.popupMenu">
            <insertionPoint
                  name="group.edit"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="false">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.xxxx.lidltable.ui.views.navigator">
         <includes>
            <contentExtension
                  pattern="org.xxxx.lidltable.ui.views.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.xxxx.lidltable.ui.views.navigator.LidltableContentProvider"
            id="org.xxxx.lidltable.ui.views.navigator.content"
            labelProvider="org.xxxx.lidltable.ui.views.navigator.LidltableContentLabelProvider"
            name="LIDL Table Content"
            priority="normal"
            sortOnly="false">
         <triggerPoints>
            <instanceof
                  value="org.xxxx.lidltable.ui.views.navigator.LidltableNavigatorRoot">
            </instanceof>
         </triggerPoints>
         <actionProvider
               class="org.xxxx.lidltable.ui.views.navigator.action.LidltableNavigatorActionProvider"
               id="org.xxxx.lidltable.ui.views.navigator.actions">
         </actionProvider>
         <enablement>
            <or>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.LidltableNavigatorRoot">
               </instanceof>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.nodes.InteractiontableNode">
               </instanceof>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.nodes.DatatypetableNode">
               </instanceof>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.nodes.InterfacetableNode">
               </instanceof>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.collection.InteractiontableCollection">
               </instanceof>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.collection.DatatypetableCollection">
               </instanceof>
               <instanceof
                     value="org.xxxx.lidltable.ui.views.navigator.collection.InterfacetableCollection">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension>

</plugin>
