<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.sirius.lidlgui.ui.views.DashboardView"
            id="org.eclipse.sirius.lidlgui.ui.views.dashboard"
            name="Select View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.sirius.lidlgui.ui.perspective.DashboardPerspectiveFactory"
            fixed="true"
            id="org.eclipse.sirius.lidlgui.ui.perspective"
            name="Select Perspective">
         <description>
            仪表盘视图
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.sirius.lidlgui.ui.perspective">
         <view
               id="org.eclipse.sirius.lidlgui.ui.views.dashboard"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.eef.properties.ui.eefTabDescriptorFilter">
      <descriptor
            class="org.eclipse.sirius.lidlgui.ui.filters.LegacyTabFilter"
            description="Provides EEF Tab filter"
            id="org.eclipse.sirius.lidlgui.ui.sirius.property.tabFilter"
            label="Filter Legacy Sirius Tabs">
      </descriptor>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.sirius.lidlgui.ui.activity"
            name="LIDL Activity">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.sirius.lidlgui.ui.activity"
            pattern="org.eclipse.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.sirius.lidlgui.ui.activity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.sirius.lidlgui.ui.activity"
            pattern="org.eclipse.ui.run">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.sirius.lidlgui.ui.activity"
            pattern="org.eclipse.amalgam.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.sirius.lidlgui.ui.activity"
            pattern="org.eclipse.sirius.table.ui/org.eclipse.sirius.table.ui.refresh">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.sirius.lidlgui.ui.activity"
            pattern="org.eclipse.sirius.editor/org.eclipse.sirius.editor.reloadVSMCommand">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.sirius.lidlgui.ui.commands.resetPerspective"
            name="Reset Perspective">
      </command>
      <command
            id="org.eclipse.sirius.lidlgui.ui.commands.save"
            name="Save">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.sirius.lidlgui.ui.handlers.ResetPerspectiveHandler"
            commandId="org.eclipse.sirius.lidlgui.ui.commands.resetPerspective">
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.SaveHandler"
            commandId="org.eclipse.sirius.lidlgui.ui.commands.save">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Toolbar">
            <command
                  commandId="org.eclipse.sirius.lidlgui.ui.commands.resetPerspective"
                  label="Reset Perspective"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.sirius.lidlgui.ui.testers.LidltablePropertyTester"
            id="org.xxxx.lidltable.ui.tester.propertyTester"
            namespace="org.xxxx.lidltable.ui.tester"
            properties="atLidltablePerspective"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.sirius.lidlgui.ui.testers.GuiPropertyTester"
            id="org.xxxx.gui.ui.tester.propertyTester"
            namespace="org.xxxx.gui.ui.tester"
            properties="atGuiPerspective"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
